<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <div class="about-section">
      <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
          Our mission in developing this product is to deliver intelligent and
          efficient traffic management solutions that help reduce environmental
          pollution and enhance the quality of life. By accurately counting
          vehicles, calculating emission levels, and classifying vehicle types,
          we are dedicated to supporting regulatory agencies in making
          data-driven decisions. Our product not only optimizes traffic flow and
          alleviates congestion but also promotes sustainable development by
          monitoring and minimizing negative environmental impacts. We strive to
          build a smart transportation system that is user-friendly,
          community-oriented, and protective of our planet for future
          generations
        </p>
        <div class="skills">
          <span>Kim Do Hyeon</span>
          <span>Joonhee Kim</span>
          <span>Pham Thanh Vy</span>
          <span>Nguyen Van Nguyen</span>
          <span>Young</span>
        </div>
      </div>
    </div>
  </body>
</html>
